{% extends 'base.html' %}
{% block content %}


<div class="row justify-content-sm-center">
    <div class="col-md-7 col-lg-5">
        <div class="home-hero">

            <h3>Find Your Track Below!</h3>

            <form id="search-form" action="/tracks" method="GET" class="form-inline text-center">
                <div>
                    <label><label for="q">Track Name</label></label>
                    <input class="form-control" type="text" name="q" id="q">
                </div>
                <button class="btn search-form-btn">Search Our Database!</button>
            </form>
        </div>
    </div>
</div>

<!-- Seems like a pretty empty page - could/need add any more? -->

{% endblock %}